<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- TODO add css -->
</head>
<body>
    <header>
        <!-- TODO add header -->
    </header>

    {{{body}}} <!-- Content from other Handlebars templates will be injected here -->

    <footer>
        <!-- TODO add footer -->
    </footer>
</body>
</html>
