<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Oops! Page not found.</h1>
    <div>
        {{{error404}}}
    </div>
</body>
</html>
